
iframe.chatbot-frame{border-radius: 6px;}
#cb-wrap{background:#fff;border:1px solid #bdbdbd;box-shadow:0px 0px 8px -1px #545454; height:485px; width:340px; position:fixed; right:5px; bottom:0px; z-index: 1101; display: none;border-radius: 6px;}
@media(max-width: 425px) {
  #cb-wrap{top: 58px !important;}
}
.btnStyle{
  display: inline-block;        
  left: 220px;
  top: -128px !important;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url("AskDishaTriColorNew.png");
  width: 105px;
  height: 116px;
  border-radius: 36px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 105px;
  color: transparent;
  cursor: pointer;
  zoom: .9; 
}
.btnStyle:hover{
  display: inline-block;        
  left: 220px;
  top: -128px !important;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url("AskDishaTriColorNew_over.png");
  width: 105px;
  height: 116px;
  border-radius: 36px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 105px;
  color: transparent;
  cursor: pointer;
  zoom: .9; 
}
#chtbticonWrap .btnStyle::after{
  content: "Need Help? Ask DISHA";
  position: absolute;
  bottom: -11px;
  z-index: 1;
  color: #df0606;
  width: 146px;
  font-size: 12px;
  font-weight: bold;
  left: -19px;
  text-shadow: 0px 1px 0px black;
}
#chatbotbtn{top:-150px; position: absolute;}
#chtbticonWrap{position: fixed; bottom: 0px; right: 1px;z-index:1100; width:320px;touch-action: none; height: 50px;}
#chtbticonWrap.android{bottom: auto;}
#adwrap{width:320px; height: 50px; margin-top: 0px; background:transparent; font-family: Arial, Helvetica, sans-serif; text-align: center;}
#adwrap span{font-size: 11px; line-height: 2; color: #555;}
#closeme{
    cursor: pointer;
    color: transparent;
    position: absolute;
    left: 50%;
    top: -21px;
    background: url('icon_hide_arrow.png') no-repeat;
    display: block;
    width: 42px;
    height: 21px;
    background-size: 44px;
    margin-left: -22px;
}
#closeme:hover{
  cursor: pointer;
  color: transparent;
  position: absolute;
  left: 50%;
  top: -22px;
  background: url('icon_hide_arrow-hover.png') no-repeat;
  display: block;
  width: 42px;
  height: 22px;
  background-size: 44px;
  margin-left: -22px;
}
.ch-title{position: relative;}
.ch-title label{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; display: inline-block; padding: 10px 0 0 10px;} 
#chatbotwindow{background:url('spinner.gif') no-repeat center center;}

  .shakeMe {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  #chtbticonWrap, #chtbticonWrap * {
    -ms-touch-action: none;
    touch-action: none;
  }
  #chtbticonWrap > span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    display: block;
    position: absolute;
    background: rgb(255, 245, 238);
    border: 2px solid #e98238;
    height: 50px;
    width: 120px;
    text-align: center;
    top: -188px;
    right: 50px;
    word-break: break-word;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: normal;
    display: none;
  }
#chtbticonWrap.minimize > span{
  top: -140px;
  right: 10px;
 } 
#chtbticonWrap > span em{
   display: block;
   font-style: normal;
   margin-top: 2px;
   font-size: 14px;
   color: #9b9b9b;
}  
#chtbticonWrap > span:before {
  content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 42px;
    bottom: -29px;
    border: 14px solid;
    z-index: 0;
    border-color: #e98238 #e98238 transparent transparent;
}
  #chtbticonWrap > span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-top-color: rgb(255, 245, 238);
    border-bottom: 0;
    border-right: 0;
    margin-left: -13px;
    margin-bottom: -22px;
  }
  @media all and (max-width: 1009px){
    .btnStyle,.btnStyle:hover{
        display: inline-block;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background: url('logo-disha.png');
        background-position: right;
        background-position-y: 100%;
        background-repeat: no-repeat;
        color: transparent;
        cursor: pointer;
        width: 175px;
        height: 158px;
        zoom: .45;
        top: -63px !important;
        left: 0;
    }
    #chtbticonWrap > div::before,
    #chtbticonWrap .btnStyle::after{display: none;}
    #chtbticonWrap.large > div::before,
    #chtbticonWrap.large .btnStyle::after{display: block;}
    #chtbticonWrap{width: 80px; height: 50px;;}
    #cb-wrap{
        height: 100% !important;
        width: 98%;
        bottom: auto;
        top: 28px;    
    }
    #adwrap{display: none;}
    /*homepage conditional css*/
    #chtbticonWrap.large > label {
      left: auto;
      right: 24px;
      top: -190px;
  }
    #chtbticonWrap.large{width: 320px;}
    #chtbticonWrap.large #adwrap{display: block; margin-top: 0; width:320px;}
    #chtbticonWrap.large .btnStyle{
      display: inline-block;        
      left: 223px;
      top: -128px !important;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      background: url("AskDishaTriColorNew.png");
      width: 105px;
      height: 116px;
      border-radius: 36px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: 105px;
      color: transparent;
      cursor: pointer;
      zoom: .9;        
    }
    #chtbticonWrap.large .btnStyle:hover{
      display: inline-block;        
      left: 223px;
      top: -128px !important;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      background: url("AskDishaTriColorNew_over.png");
      width: 105px;
      height: 116px;
      border-radius: 36px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: 105px;
      color: transparent;
      cursor: pointer;
      zoom: .9;  
    }
    #chtbticonWrap.large .btnStyle::after{
      content: "Need Help? Ask DISHA";
      position: absolute;
      bottom: -11px;
      z-index: 1;
      color: #df0606;
      width: 155px;
      font-size: 12px;
      font-weight: bold;
      left: -32px;
      text-shadow: 0px 1px 0px black;
    }
    #chtbticonWrap > label{
      left: auto;
      right: 10px;
      top: -93px;
    }
    #chtbticonWrap.large #chtbticonWrap > label{
      left: auto;
    }
  }

  #chtbticonWrap.top{bottom: 68%;}
  #chtbticonWrap.top #adwrap{display: none;}
  #chtbticonWrap.remove{display: none;}
  #chatbotbtn > span.removeicon{
    font-weight: bold;
    position: absolute;
    content: "X";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 15px;
    width: 15px;
    cursor: pointer;
    top: -10px;
    right: -15px;
    color: #df0606;
    border: 1px solid#e98238;
    border-radius: 50%;
    background: #fff;
    line-height: 15px;
  }
  #chatbotbtn > span.removeicon::before{
    content: "X"
  }
  #chtbticonWrap.minimize #chatbotbtn > span.removeicon{
    display: none !important;
  }
  #chatbotbtn > span.minmax{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 15px;
    width: 15px;
    cursor: pointer;
    top: -10px;
    font-size: 32px;
    right: 110px;
    line-height: 8px;
    color: #df0606;
    border: 1px solid#e98238;
    border-radius: 50%;
    background: #fff;
  }
  #chatbotbtn > span.minmax::before{
    content: "-"
  }
  #chtbticonWrap.minimize #chatbotbtn > span.minmax{
    font-size: 41px;
    line-height: 23px;
    height: 31px;
    width: 31px;
    border: 2px solid#e98238;
  }
  #chtbticonWrap.minimize #chatbotbtn > span.minmax::before{
    content: "+";    
  }
  #chtbticonWrap.minimize #chatbotbtn{
    zoom: .45;
    left: auto;
    right: 10px;
     -moz-transform: scale(.45);
  }
  span.minmax{
    height: 22px;
    width: 24px;
  }
  #chtbticonWrap.minimize{height: 0px;}
  #chtbticonWrap.minimize #adwrap,
  #chtbticonWrap.minimize > div::before,
  #chtbticonWrap.minimize .btnStyle::after{display: none;}

  @media all and (max-width: 1009px){
    
  #chatbotbtn > span.minmax{
    line-height: 8px;
  }
  #chtbticonWrap.minimize #chatbotbtn > span.minmax{
    line-height: 19px;
    right: 125px;
  }
  #chtbticonWrap.minimize #chatbotbtn > span.removeicon{
    line-height: 20px;
  }
  #chtbticonWrap.minimize #chatbotbtn > span.removeicon::before{
    content: "x"
  }

  #chtbticonWrap #chatbotbtn > span.minmax,
  #chtbticonWrap #chatbotbtn > span.removeicon{
    display: none;
  }
  #chtbticonWrap.large #chatbotbtn > span.minmax,
  #chtbticonWrap.large #chatbotbtn > span.removeicon{
    display: block;
  }
}

@-moz-document url-prefix() {
   #chtbticonWrap.large .btnStyle{
      display: inline-block;        
      left: 198px;
      top: -128px !important;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      background: url("AskDishaTriColorNew.png");
      width: 105px;
      height: 116px;
      border-radius: 36px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: 105px;
      color: transparent;
      cursor: pointer;
      zoom: .9;        
    }
 #chtbticonWrap.large .btnStyle:hover{
      display: inline-block;        
      left: 198px;
      top: -128px !important;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      background: url("AskDishaTriColorNew_over.png");
      width: 105px;
      height: 116px;
      border-radius: 36px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: 105px;
      color: transparent;
      cursor: pointer;
      zoom: .9;  
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #chtbticonWrap{position: fixed; bottom: 0px; right: 25px;z-index:1100; width:320px;touch-action: none; height: 50px;}
}
